In [5]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import numpy as np
import random
data= pd.read_csv('data_U.csv', sep = ';', header = 0)

In [6]:
columns = ['col1','col2','col3','col4','elements']
data.columns =columns
data = data.set_index('elements')

In [4]:
data.head()

         col1 col2 col3 col4
elements
o2        6,1  2,8  4,2  1,5
o3        6,4  2,8  4,6  1,3
o4        6,4  2,5  4,3  1,4
o5        6,3  2,3  4,4  1,5
o6        6,3  2,8  4,9  1,6

In [5]:
def GTRS(k,alpha,alpha_dec,beta,beta_inc,U):
    alpha=1
    beta=0
    C,M=devide(U)
    C_clusters=Kmeans(C)
    Missing_ratio=sum(pd.isnull(M))/productsize(M)
    Cn,Mn = pick_random(C_cluster, Missing_ratio)
    return Cn,Mn

In [7]:
def devide(U):
    Mnull=pd.isnull(U) #si une ligne contient une valeur null 
    sumoverows=Mnull.sum(axis=1)
    
    C=U[sumoverows==0]
    M=U[sumoverows>0]
    
    return M,C

In [9]:
M,C=devide(data)
M

         col1 col2 col3 col4
elements
o31       5,5  NaN  3,1  2,5
o32       4,2  3,1  NaN  NaN
o33       NaN    3  2,1  NaN
o34         6  2,2    3  NaN
o35       6,3  NaN    5    1
o36       4,1    4  NaN    6
o37       NaN  NaN  4,8    5
o38         5  1,6  NaN  NaN
o39         2  1,2  6,9  NaN
o40       1,8  NaN    5  3,2

In [3]:
from sklearn.cluster import KMeans


def Kmeans(C,k=2):
    kmeans = KMeans(n_clusters=k, random_state=0).fit(C)
    kmeans.predict(C)
    return kmeans

In [10]:
def Missing_ratio(M):
    m=sum(pd.isnull(M).sum(axis=1))
    r=m/np.size(M)
    return r

In [10]:
print(Missing_ratio(M))

0.35

In [126]:
data.shape

(39, 5)

In [11]:
import numpy as np
import random
def pick_random(U,Missing_ratio):
    s=np.size(U)
    n=int(round(s*Missing_ratio))
    print(n)
    rows,cols = U.shape
    
    missing_index= np.zeros((rows,cols))
    missing_rows = random.choices(list(range(rows)),k= n)
    missing_cols = random.choices(list(range(cols)), k=n)
    
    index_list = []
    
    for i in range(n):
        missing_index[missing_rows[i],missing_rows[i]] = True
            
    print(missing_index)
   
    
    return  None #New_Missing_Data

In [12]:
pick_random(C,0.3)

35

IndexError: index 14 is out of bounds for axis 1 with size 4

In [231]:
n = 10
rows = 3
list_rows = list(range(rows))
missing_rows = random.choices(list_rows,k=n)
missing_rows

[1, 0, 0, 2, 2, 1, 1, 1, 0, 2]

In [195]:
import numpy as np
# number of nan we want to add It will insert 3 nan values to the data.....
n_b = 5
 
# creating dataset
data_b = np.random.randint(10, 100, size=(5, 5))
 
# converting the data to float as nan is also of type float
data_b = data_b*0.1
 
# choosing random indexes to put NaN
index_b = np.random.choice(data_b.size, n_b, replace=False)
 
# adding nan to the data.
data_b.ravel()[index_b] = np.nan
print(data_b)

[[5.3 6.8 4.8 1.7 9.6]
 [7.9 9.9 nan 6.7 7.2]
 [5.  2.2 5.3 8.4 5.8]
 [nan nan 8.9 3.4 6.6]
 [nan 8.1 8.8 3.1 nan]]